<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="customerDao" class="ca.mcmaster.vo.CustomerDaoImpl"/>
	<bean id="MyBeforeAdvice" class="ca.mcmaster.advice.MyBeforeAdvice"/>
	
	<bean id="orderDao" class="ca.mcmaster.vo.OrderDao"/>
	<bean id="MyArroundAdivce" class="ca.mcmaster.advice.MyArroundAdvice"/>
	
	<bean id="MyPointCut" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="pattern" value=".*add.*"/>
		<property name="advice" ref="MyArroundAdivce"/>
	</bean>
	
	<!-- automatic proxy : By default-->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
	</bean>
</beans>