<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>springmvc</display-name>
  
  <servlet>
  	<servlet-name>springmvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<!-- 默认地址:classpath:"servlet名称" + "-servlet.xml" -> springmvc-servlet.xml-->
  		<param-value>classpath:springmvx.xml</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>springmvc</servlet-name>
  	<!-- 可以配置/，说明此工程所有的请求均由springmvc解析，可以实现Restful方式，需要特殊处理 -->
  	<!-- 也可以通过正则表达式配置，这种方法较为常用 -->
  	<!-- 不可以配置/* -->
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
</web-app>